* {
   margin : 0;
   padding: 0;
}
#note {
   display : none;
   position: absolute;
   width   : 18px;
   height  : 50px; 
}
#diese {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#bemol {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#correction {
   display         : none;
   position        : absolute;
   width           : 50px;
   height          : 50px;
   background-color: salmon;
   opacity         : 0.75;
}
#bilan {
   display         : none;
   position        : absolute;
   margin-left     : auto;
   margin-right    : auto;
   padding         : 24px;
   border          : 1px solid lightgray;
   background-color: whitesmoke;
   opacity         : 100%;
}
#bilan table, #bilan th, #bilan td {
   border-collapse: collapse;
   padding        : 2px;
   border         : 1px solid darkgray;
   text-align     : center;
}
#bilan th {
	font-weight: bold;
}
#main {
	text-align: center;
}
#paramètres {
	display     : inline-block;
   text-align  : left;
   margin-left : auto;
   margin-right: auto;
   border      : 1px solid lightgray;
   margin      : 1px;
}
#paramètres label {
   display   : inline-block;
   width     : 240px;
   text-align: right;
}
input {
   margin: 2px;
}
input[type=text],input[type=number] {
   width: 50px;
}
#portées {
	display      : block;
	margin-left  : auto;
   margin-right : auto;
   margin-top   : 50px;
   margin-bottom: 30px;
}
#clavier {
   display     : block;
   margin-left : auto;
   margin-right: auto;
}
