#main {
	text-align: center;
}
#paramètres {
	display     : inline-block;
   text-align  : left;
   margin-left : auto;
   margin-right: auto;
}
#paramètres label {
   display   : inline-block;
   width     : 240px;
   text-align: right;
}
input {
   margin: 2px;
}
input[type=text],input[type=number] {
   width: 50px;
}
#portées {
	display     : block;
	margin-left : auto;
   margin-right: auto;
}
#clavier {
   display     : block;
   margin-left : auto;
   margin-right: auto;
}
#note {
   display : none;
   position: absolute;
   width   : 18px;
   height  : 50px; 
}
#diese {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#bemol {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#correction-bloc {
	visibility: hidden;
}