* {
   margin : 0;
   padding: 0;
}
#diese {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#bemol {
   display    : none;
   font-size  : 18px;
   font-weight: bold;
   position   : absolute;
}
#correction {
   display         : none;
   position        : absolute;
   width           : 50px;
   height          : 50px;
   background-color: salmon;
   opacity         : 0.75; 
}
#main {
	text-align: center;
}
#paramètres {
	display     : inline-block;
   text-align  : left;
   margin-left : auto;
   margin-right: auto;
   border      : 1px solid lightgray;
   margin      : 1px;
}
#paramètres label {
   display   : inline-block;
   width     : 240px;
   text-align: right;
}
input {
   margin: 2px;
}
input[type=text],input[type=number] {
   width: 50px;
}
#portées {
	display      : block;
	margin-left  : auto;
   margin-right : auto;
   margin-top   : 50px;
   margin-bottom: 30px;
}
#clavier {
   display     : block;
   margin-left : auto;
   margin-right: auto;
}
#note {
   display : none;
   position: absolute;
   width   : 18px;
   height  : 50px; 
}
#correction-bloc {
   display     : inline-block;
	visibility  : hidden;
   text-align  : left;
   margin-left : auto;
   margin-right: auto;
}
#correction-bloc label {
   display   : inline-block;
   width     : 240px;
   text-align: right;
}
